@using NB_Commerce.Helpers
<style>
    /* Module Login*/
    .login-container {
        z-index: 5;
    }

    .header-bar-login-container {
        border-top: none;
        box-shadow: 0 2px 2px rgba(204, 204, 204, .2);
    }

    .modal-container-login-wrapper .modal-title {
        font-size: 15px;
    }

    .modal-container-login-wrapper .modal-header {
        background: white;
    }

    .modal-container-login-wrapper .modal-content {
        background: rgba(201,200,200,0.4);
        padding: 5px;
        border-radius: 4px;
    }

    .login-container-inner {
        background: #FFF;
        border: 1px #E5E5E5 solid;
        box-shadow: 0 1px 3px rgba(204, 204, 204, .5);
        color: #000;
        padding: 3px 0px;
        position: relative;
    }

    .login-container-inner .login-directly .form label {
       display: none;
    }

        .login-container-inner, .login-container-inner div {
            padding: 3px 6px;
        }

            .login-container-inner .form-control {
                width: 100%;
            }

    .login-container .form-control {
        background: #FFF;
        border: 1px solid #E5E5E5;
        border-radius: 1px;
        font-weight: normal;
        margin: 0;
        outline: none;
        padding: 2px 9px;
    }

    .login-container input[type="checkbox"] {
        margin-right: 3px;
        outline: none !important;
        vertical-align: text-top;
    }

    .login-container-inner .text {
        color: #999;
        cursor: default;
        font-size: 11px;
    }

    .login-container-inner .form-button {
        height: 36px;
        width: 100%;
    }

    .login-container-inner .text-link {
        border: none !important;
        color: #365DB5 !important;
        font-size: 11px;
        margin-left: -15px;
        text-transform: capitalize;
    }

    .login-container-inner .login-other {
        margin-left: 33%;
        margin-bottom: 8px;
    }

    .login-container-inner .login-directly .text {
        text-align: center;
    }

    .login-container-inner .login-other .text {
        margin-bottom: 9px;
        padding: 0;
    }

    .login-container-inner .text {
        color: #999;
        cursor: default;
        font-size: 11px;
    }

</style>

<div class="modal-container-login-wrapper"> 
    <div id="modal-container-login" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-sm vertical-align-center">
                <div class="modal-content hidden fade-in">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" style="text-align: center">Đăng nhập Nội thất VP</h4>
                    </div>
                    <div class="login-container" style="right: 0; top: 34px;">
                        <div class="login-container-inner header-bar-login-container">
                            <div id="login-container-content" class="account">
                                @Html.Action("Login", "Account", new { area = "" })
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginScripts())
{
     <script>
         HvHelpers.loadJs("/Scripts/jquery.validate.js", $.validator, function () {
             HvHelpers.loadJs("/Scripts/jquery.validate.unobtrusive.js", $.unobtrusive, function () {
                 HvHelpers.loadJs("/Scripts/jquery.unobtrusive-ajax.js", $.unobtrusiveAjax);
             });
         }, 'asyn');
    </script>
    <script>
        PagedOnBegin_Login = function () {
            $(".modal-content").addClass("hidden");
        };
        PagedOnComplete_Login = function (data, status, xhr) {

            if (data && data.Status == "success") {
                if (window.location.pathname == "/account/register" || window.location.pathname == "/account/forgot-pass") {
                    window.location.href = "/";
                } else
                    window.location.reload();
            } else {
                $(".modal-content").removeClass("hidden");
            }
        };
        $(document).ready(function () { PagedOnComplete_Login(); });
    </script>
}