@using NB_Commerce.Model.Models
@using Resources
@model List<NB_Commerce.Model.Models.SearchTerm>
<div class="row search-tag">
    <span class="col-xs-2" style="width: auto;">@Resource.Label_Trends_Text: </span>
    <ul class="col-xs-10">
        @foreach (SearchTerm item in Model)
        {
            <li>
                @Html.ActionLink(item.Keyword, "Index", "Search", new {@key = item.Keyword}, null) @(item == Model.Last() ? "" : ",   ")
            </li>
        }
    </ul>
</div>