@{
    ViewBag.Title = "Profiles";
}
<link href="~/Content/Css/Account/profiles.css" rel="stylesheet" />
<div class="row">
    <div class="container">
        <ol class="nav breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i> Trang chủ <i class="fa fa-angle-right"></i></a></li>
            <li><a href="#">Tài khoản <i class="fa fa-angle-right"></i></a></li>
            <li><a href="#">Thông tin cá nhân</a></li>
        </ol>
    </div>
</div>
<div class="row m-template">
    <div class="row profiles">
        <div class="user-info-wrapper clearfix">
            <a class="avatar-acc">&nbsp;
                <img src="~/Content/Css/Account/img/beacon_sprite_other.png" />
                <h3>Thắng Trần</h3>
            </a>
            <ul class="history">
                <li class="date">
                    Tham gia từ 11/11/2014
                </li>
                <li class="logo">
                    <img src="~/Content/Css/Layout/img/logo.png" />
                </li>
            </ul>
            <div class="hotline-wrapper">
                <p><span class="glyphicon glyphicon-phone-alt"></span>  Điện thoại hỗ trợ: 1800.1060</p>
            </div>
        </div>
        <!--My Profiles Content-->
        <div class="pull-left col-xs-12 info-left">
            <ul id="profilesTab" class="user-tab-wrapper clearfix" role="tablist">
                <li role="presentation" class="first active">
                    <a href="#myinfo" data-toggle="tab" title="Thông tin cá nhân">Thông tin cá nhân</a><i></i>
                </li>
                <li role="presentation"><a href="#address-book" data-toggle="tab" title="Sổ địa chỉ">Sổ địa chỉ</a><i></i></li>
                <li role="presentation"><a href="#list-order" data-toggle="tab" title="Đơn hàng">Đơn hàng</a><i></i></li>
                <li role="presentation"><a href="#my-order-detail" data-toggle="tab" title="Chi tiết đơn hàng">Chi tiết đơn hàng</a><i></i></li>
                <li role="presentation"><a href="#notify" data-toggle="tab" title="Thông báo">Thông báo</a><i></i></li>
            </ul>
            <!--Tab content-->
            <div class="tab-content">
                @*My infomation*@
                <div id="myinfo" class="tab-pane fade in active user-info clearfix">
                    @*Info Total*@
                    <div class="info-head-text">
                        <h3><i class="fa fa-info-circle fa-xs"> </i> Thông tin của tôi</h3>
                    </div>
                    <div class="row row-wrapper odd clearfix">
                        <div class="col-xs-3 label">Họ & đệm: </div>
                        <div class="col-xs-9 input-wrapper">
                            <input class="input" type="text" value=".Address.FirstName">
                        </div>
                    </div>
                    <div class="row row-wrapper even clearfix">
                        <div class="col-xs-3 label">Tên: </div>
                        <div class="col-xs-9 input-wrapper">
                            <input class="input" type="text" value=".Address.FirstName">
                        </div>
                    </div>
                    <div class="row row-wrapper odd clearfix">
                        <div class="col-xs-3 label">Số điện thoại: </div>
                        <div class="col-xs-9 input-wrapper">
                            <input class="input" type="text" id="mobile" name="mobile" value=".Address.PhoneNumber" maxlength="13">
                        </div>
                    </div>
                    <div class="row row-wrapper even clearfix">
                        <div class="col-xs-3 label">Giới tính: </div>
                        <div class="col-xs-9 input-wrapper">
                            <select class="input-sm">
                                <option value="Unknown">Unknown</option>
                                <option value="Female">Female</option>
                                <option selected="selected" value="Male">Male</option>
                            </select>
                        </div>
                    </div>
                    <div class="row row-wrapper odd clearfix">
                        <div class="col-xs-3 label">Ngày sinh: </div>
                        <div class="col-xs-9 input-wrapper">
                            <div class="input drop">
                                Ngày
                                <select class="input-sm">
                                    <option value="Category 1">1</option>
                                    <option value="Category 2">02</option>
                                    <option value="Category 3">05</option>
                                    <option value="Category 4">04</option>
                                </select>
                                Tháng
                                <select class="input-sm">
                                    <option value="Category 1">1</option>
                                    <option value="Category 2">02</option>
                                    <option value="Category 3">05</option>
                                    <option value="Category 4">04</option>
                                </select>
                                Năm
                                <select class="input-sm">
                                    <option value="Category 1">2014</option>
                                    <option value="Category 2">2</option>
                                    <option value="Category 3">5</option>
                                    <option value="Category 4">2015</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row row-wrapper even clearfix">
                        <div class="col-xs-3 label">Hình ảnh: </div>
                        <input type="hidden" id="lUpimage" name="lUpimage">
                        <div class="col-xs-9 input-wrapper">
                            <div style="font-size: 11px; color: #33A5FF; font-style: italic;margin-bottom: 5px;">Vui lòng sử dụng hình ảnh có dung lượng nhỏ hơn <font color="red"><b>1 MB</b></font></div>
                            <div class="fileupload fileupload-exists" data-provides="fileupload">
                                <input type="hidden" value="" name="">
                                <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                    <img title="No image select" class="avatar" alt="" src="~/Content/img/bg/no-image.jpg">
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 160px; line-height: 20px;">
                                    <img src=".Avatar" alt="" style="max-height: 150px!important;">
                                </div>
                                <div>
                                    <span class="btn-file">
                                        <a href="#" class="fileupload-new"><i class="fa fa-folder-open"></i> Lựa chọn</a>
                                        <a href="#" class="fileupload-exists"><i class="fa fa-edit"></i> Thay đổi </a>
                                        <input type="file" class="default">
                                    </span>
                                    <a href="#" class="fileupload-exists" data-dismiss="fileupload"><i class="fa fa-remove"></i> Xóa</a>
                                </div>
                            </div>
                        </div>
                        <!-- POPUP UPLOAD IMAGE END -->
                    </div>
                    @*Account*@
                    <div class="info-head-text">
                        <h3><i class="fa fa-user fa-xs"> </i> Tài khoản</h3>
                    </div>
                    <div id="divexpand">
                        <div class="row row-wrapper odd clearfix">
                            <div class="col-xs-3 label">Username: </div>
                            <div class="col-xs-9 input-wrapper">
                                <input class="input" type="text" name="txtCompanyName" value=".Username" maxlength="98">
                            </div>
                        </div>
                        <div class="row row-wrapper even clearfix">
                            <div class="col-xs-3 label">Email: </div>
                            <div class="col-xs-9 input-wrapper">
                                <input class="input" type="email" id="email" name="email" value=".Email">
                            </div>
                        </div>
                        <div class="row row-wrapper odd clearfix">
                            <div class="col-xs-3 label">Mật khẩu đăng nhập: </div>
                            <div class="col-xs-9 input-wrapper"><input class="input" type="password" id="pass" name="email" value=".Password"><a href="/khach-hang/doi-mat-khau" title="Đổi mật khẩu">Đổi mật khẩu</a></div>
                        </div>
                    </div>
                    @*Company Info*@
                    <div class="info-head-text">
                        <h3><i class="fa fa-users fa-xs"></i> Thông tin công ty</h3>
                    </div>
                    <div id="divexpand">
                        <div class="row row-wrapper odd clearfix">
                            <div class="col-xs-3 label">Tên công ty: </div>
                            <div class="col-xs-9 input-wrapper">
                                <input class="input" type="text" id="txtCompanyName" name="txtCompanyName" value="" maxlength="98">
                            </div>
                        </div>
                        <div class="row row-wrapper even clearfix">
                            <div class="col-xs-3 label">Mã số thuế: </div>
                            <div class="col-xs-9 input-wrapper">
                                <input class="input" type="text" id="txttaxcode" name="txttaxcode" value="" maxlength="15">
                            </div>
                        </div>
                        <div class="row row-wrapper odd clearfix">
                            <div class="col-xs-3 label">Địa chỉ: </div>
                            <div class="col-xs-9 input-wrapper">
                                <input class="input" type="text" id="txtCompanyAdd" name="txtCompanyAdd" value="" maxlength="98">
                            </div>
                        </div>
                    </div>
                    <div class="row row-wrapper even clearfix">
                        <div class="col-xs-3 label">&nbsp;</div>
                        <div class="input-wrapper submit">
                            <input class="input submit" type="button" id="btnsubmit" name="btnsubmit" value="Cập nhật">
                        </div>
                        <div id="Message" class="field-validation-error-profile"></div>
                    </div>
                </div>
                @*Address Book*@
                <div id="address-book" class="tab-pane fade address-book">
                    @*Add Address book*@
                    <div class="info-head-text">
                        <a data-toggle="collapse" href="#addAddress">
                            <h3 class="add"><i class="fa fa-plus-circle fa-xs"> </i> Thêm mới </h3>
                        </a>
                    </div>
                    <div class="add-address">
                        @*Content add Address book collapse*@
                        <div id="addAddress" class="panel-collapse collapse out">
                            <div class="row row-wrapper odd clearfix">
                                <div class="col-xs-3 label">Họ &amp; Đệm: </div>
                                <div class="col-xs-9 input-wrapper">
                                    <input class="input" type="text" placeholder="Vũ Đình">
                                </div>
                            </div>
                            <div class="row row-wrapper odd clearfix">
                                <div class="col-xs-3 label">Tên: </div>
                                <div class="col-xs-9 input-wrapper">
                                    <input class="input" type="text" placeholder="Huy">
                                </div>
                            </div>
                            <div class="row row-wrapper odd clearfix">
                                <div class="col-xs-3 label">Email: </div>
                                <div class="col-xs-9 input-wrapper">
                                    <input class="input" type="email" placeholder="thangtq92@gmail.com">
                                </div>
                            </div>
                            <div class="row row-wrapper odd clearfix">
                                <div class="col-xs-3 label">Số điện thoại: </div>
                                <div class="col-xs-9 input-wrapper">
                                    <input class="input" type="text" placeholder="01627999355">
                                </div>
                            </div>
                            <div class="row row-wrapper odd clearfix">
                                <div class="col-xs-3 label">Tỉnh/Thành phố: </div>
                                <div class="col-xs-9 input-wrapper">
                                    <div class="input drop">
                                        <select class="input-sm">
                                            <option value="">Vui lòng chọn vùng, tỉnh thành </option>
                                            <option value="Hà Nội">Hà Nội</option>
                                            <option value="Category 3">Hải Phòng</option>
                                            <option value="Category 4">Nam Định</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-wrapper odd clearfix">
                                <div class="col-xs-3 label">Quận/Huyện</div>
                                <div class="col-xs-9 input-wrapper">
                                    <div class="input drop ">
                                        <select class="input-sm">
                                            <option value="">Vui lòng chọn quận, huyện </option>
                                            <option value="Hà Nội">Hà Nội</option>
                                            <option value="Category 3">Hải Phòng</option>
                                            <option value="Category 4">Nam Định</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-wrapper odd clearfix">
                                <div class="col-xs-3 label">Địa chỉ: </div>
                                <div class="col-xs-9 input-wrapper">
                                    <textarea class="form-control input" style="height: 60px;" data-bind="value: address1" maxlength="90" placeholder="Số nhà, tên đường, tên tòa nhà (nếu có), phường xã"></textarea>
                                </div>
                            </div>
                            <div class="row row-wrapper odd clearfix">
                                <div class="col-xs-3 label">&nbsp;</div>
                                <div class="col-xs-9 checkbox input-wrapper">
                                    <label>
                                        <strong>
                                            <input type="checkbox" value=""> Sử dụng làm địa chỉ thanh toán chính của tôi
                                        </strong>
                                    </label>
                                    <br />
                                    <label>
                                        <strong>
                                            <input type="checkbox"> Sử dụng làm địa chỉ nhận hàng mặc định của tôi
                                        </strong>
                                    </label>
                                </div>
                            </div>
                            <div class="row row-wrapper odd clearfix">
                                <div class="col-xs-3 label">&nbsp;</div>
                                <div class="col-xs-9 submit input-wrapper">
                                    <input class="input submit" type="button" id="btnsubmit" name="btnsubmit" value="Lưu địa chỉ">
                                </div>
                                <div id="Message" class="field-validation-error-profile"></div>
                            </div>
                        </div>
                        @*List Address Book*@
                        <div class="info-head-text">
                            <a href="#">
                                <h3><i class="fa fa-list-alt"> </i> Các địa chỉ mặc định</h3>
                            </a>
                        </div>
                        <div class="list-address">
                            <ul>
                                <li class="col-xs-5">
                                    <h5>Địa chỉ thanh toán mặc định: </h5>
                                    <address>
                                        Thắng Trần<br>  Trương Định<br>    Quận Hai Bà Trưng,  Hà Nội, 0350<br> Việt Nam<br> T: 01627999999 <br>
                                        <strong>
                                            <a class="pull-left" href="#"><i class="fa fa-edit"></i> Thay đổi địa chỉ chuyển hàng</a>
                                            <a href="#" class="pull-right"><i class="fa fa-save"></i> Save</a>
                                        </strong>
                                    </address>
                                </li>
                                <li class="col-xs-offset-2 col-xs-5">
                                    <h5>Địa chỉ giao hàng mặc định: </h5>
                                    <address>
                                        Thắng Trần<br>  Trương Định<br>    Quận Hai Bà Trưng,  Hà Nội, 0350<br> Việt Nam<br> T: 01627999999 <br>
                                        <strong>
                                            <a class="pull-left" href="#"><i class="fa fa-edit"></i> Thay đổi địa chỉ chuyển hàng</a>
                                            <a href="#" class="pull-right"><i class="fa fa-save"></i> Save</a>
                                        </strong>
                                    </address>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*List Order *@
                <div id="list-order" class="tab-pane fade my-order">
                    <div class="info-head-text">
                        <h3 class="pull-left"><i class="fa fa-list fa-xs fa-xs"> </i> Đơn hàng của tôi</h3>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="first last">
                                <th>STT</th>
                                <th>Đơn hàng #</th>
                                <th>Ngày mua</th>
                                <th>Gửi đến</th>
                                <th>Tổng tiền</th>
                                <th>Trạng thái đơn hàng</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="first last odd">
                                <td>1</td>
                                <td><a href="#" title="Xem đơn hàng">100878147</a></td>
                                <td>10/11/2014</td>
                                <td>Thắng Trần</td>
                                <td><span class="price">8.854.000,00&nbsp;₫</span></td>
                                <td>
                                    <a href="#" title="Xem đơn hàng">
                                        <em>Đã hủy</em>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">Xem đơn hàng</a>
                                </td>
                            </tr>
                            <tr class="first last even">
                                <td>1</td>
                                <td><a href="#" title="Xem đơn hàng">100878147</a></td>
                                <td>10/11/2014</td>
                                <td>Thắng Trần</td>
                                <td><span class="price">8.854.000,00&nbsp;₫</span></td>
                                <td>
                                    <a href="#" title="Xem đơn hàng">
                                        <em>Đã hủy</em>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">Xem đơn hàng</a>
                                </td>
                            </tr>
                            <tr class="first last odd">
                                <td>1</td>
                                <td><a href="#" title="Xem đơn hàng">100878147</a></td>
                                <td>10/11/2014</td>
                                <td>Thắng Trần</td>
                                <td><span class="price">8.854.000,00&nbsp;₫</span></td>
                                <td>
                                    <a href="#" title="Xem đơn hàng">
                                        <em>Đã hủy</em>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">Xem đơn hàng</a>
                                </td>
                            </tr>
                            <tr class="first last even">
                                <td>1</td>
                                <td><a href="#" title="Xem đơn hàng">100878147</a></td>
                                <td>10/11/2014</td>
                                <td>Thắng Trần</td>
                                <td><span class="price">8.854.000,00&nbsp;₫</span></td>
                                <td>
                                    <a href="#" title="Xem đơn hàng">
                                        <em>Đã hủy</em>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">Xem đơn hàng</a>
                                </td>
                            </tr>
                            <tr class="first last odd">
                                <td>1</td>
                                <td><a href="#" title="Xem đơn hàng">100878147</a></td>
                                <td>10/11/2014</td>
                                <td>Thắng Trần</td>
                                <td><span class="price">8.854.000,00&nbsp;₫</span></td>
                                <td>
                                    <a href="#" title="Xem đơn hàng">
                                        <em>Đã hủy</em>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">Xem đơn hàng</a>
                                </td>
                            </tr>
                            <tr class="first last even">
                                <td>1</td>
                                <td><a href="#" title="Xem đơn hàng">100878147</a></td>
                                <td>10/11/2014</td>
                                <td>Thắng Trần</td>
                                <td><span class="price">8.854.000,00&nbsp;₫</span></td>
                                <td>
                                    <a href="#" title="Xem đơn hàng">
                                        <em>Đã hủy</em>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">Xem đơn hàng</a>
                                </td>
                            </tr>
                            <tr class="first last odd">
                                <td>1</td>
                                <td><a href="#" title="Xem đơn hàng">100878147</a></td>
                                <td>10/11/2014</td>
                                <td>Thắng Trần</td>
                                <td><span class="price">8.854.000,00&nbsp;₫</span></td>
                                <td>
                                    <a href="#" title="Xem đơn hàng">
                                        <em>Đã hủy</em>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">Xem đơn hàng</a>
                                </td>
                            </tr>
                            <tr class="first last even">
                                <td>1</td>
                                <td><a href="#" title="Xem đơn hàng">100878147</a></td>
                                <td>10/11/2014</td>
                                <td>Thắng Trần</td>
                                <td><span class="price">8.854.000,00&nbsp;₫</span></td>
                                <td>
                                    <a href="#" title="Xem đơn hàng">
                                        <em>Đã hủy</em>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">Xem đơn hàng</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <div class="button-set">
                        <a href="https://tiki.vn/sales/order/history/"><i class="fa fa-angle-double-left"></i> Trở lại</a>
                    </div>
                    <br />
                </div>
                @*My Order Detail*@
                <div id="my-order-detail" class="tab-pane fade my-order">
                    <div class="info-head-text">
                        <h3 class="pull-left"><i class="fa fa-check-square-o fa-xs"> </i> Đơn hàng #100878147 - Đang xử lý</h3>
                        <a href="javascript:window.print()" class="btn btn-primary pull-right">In đơn hàng</a>
                    </div>
                    <div class="text-order">
                        <h5>Về đơn hàng này: Thông tin đơn hàng: </h5>
                        <p>Ngày Ngày 10 tháng 11 năm 2014</p>
                    </div>
                    @*Notify to Customer about Order*@
                    <div style="color: #F60; border: 1px solid silver; margin-bottom: 15px">
                        <div style="background: #FCFAC9; width: auto; height: 25px; margin: 0px 0px 0px 0px;  border-bottom: 1px solid silver; font-weight: bolder;">
                            <p style="padding-top: 5px; padding-left: 5px;">Thông báo</p>
                        </div>
                        <br />
                        <div>
                            <dl>
                                <dd style="color: #555; margin-left: 10px;"><i>17:10&nbsp; ngày &nbsp;10/11/2014</i></dd>
                                <dd style="margin-left: 20px; color: #555;border-bottom: 1px solid #cdcdcd; padding-bottom: 10px; margin-right: 10px;">Tiki nhận được đơn đặt hàng từ Quý khách. Tuy nhiên, liên hệ qua điện thoại để xác nhận thông tin đơn hàng không thành công, người nhận máy báo nhầm số. Phiền Quý khách vui lòng liên hệ lại với Tiki qua hotline 19006035 để xác nhận nhu cầu cho đơn hàng. Tiki rất tiếc nếu không có cơ hội phục vụ Quý Khách lần này. Đơn hàng sẽ tự hủy sau 48h không nhận được hồi âm từ Quý khách.</dd>
                            </dl>
                        </div>
                        <br />
                    </div>
                    @*Thông tin người nhận và đơn hàng*@
                    <div class="generic-box">
                        <div class="col-xs-6">
                            <h4>Địa chỉ người nhận: </h4>
                            <address>Thắng Trần<br>  Trương Định<br>    Quận Hai Bà Trưng,  Hà Nội, 0350<br> Việt Nam<br> T: 01627999999 </address>
                        </div>
                        <div class="col-xs-6">
                            <h4>Thời gian giao hàng &amp; Vận chuyển: </h4>
                            <strong>Thời gian giao hàng dự kiến: 3 - 4</strong> ngày làm việc, không kể Thứ 7 &amp; Chủ Nhật
                            <br>
                            <strong>Phí vận chuyển: </strong>0đ (Miễn phí)
                        </div>
                    </div>
                    @*Thông tin thanh toán và phương thức*@
                    <div class="generic-box">
                        <div class="col-xs-6">
                            <h4>
                                Thông tin thanh toán: 
                            </h4>
                            <address>
                                Thắng Trần<br>thangtq92@gmail.com<br>01627999999
                            </address>
                        </div>
                        <div class="col-xs-6">
                            <h4>Phương thức thanh toán: </h4>
                            <p>Thanh toán tiền mặt khi nhận hàng</p>
                        </div>
                    </div>
                    @*Xuất hóa đơn, ghi chú khách hàng*@
                    <div class="generic-box">
                        <div class="col-xs-12">
                            <h4>Yêu cầu xuất hóa đơn đỏ cho đơn đặt hàng này: </h4>
                            <div class="row row-wrapper odd clearfix">
                                <div class="col-xs-3 label">Tên công ty: </div>
                                <div class="col-xs-9 input-wrapper">
                                    <input class="input" type="text" placeholder="Vũ Đình">
                                </div>
                            </div>
                            <div class="row row-wrapper odd clearfix">
                                <div class="col-xs-3 label">Mã số thuế: </div>
                                <div class="col-xs-9 input-wrapper">
                                    <input class="input" type="text" placeholder="Huy">
                                </div>
                            </div>
                            <div class="row row-wrapper odd clearfix">
                                <div class="col-xs-3 label">Địa chỉ: </div>
                                <div class="col-xs-9 input-wrapper">
                                    <input class="input" type="email" placeholder="Số nhà, tên đường, tên tòa nhà (nếu có), phường xã">
                                </div>
                            </div>
                        </div>
                    </div>
                    @*List Product Buy*@
                    <div>
                        <div class="info-head-text">
                            <h3><i class="fa fa-list fa-xs"> </i> Sản phẩm mua</h3>
                        </div>
                        <table class="table table-bordered " id="my-orders-table">
                            <thead>
                                <tr class="first last">
                                    <th>STT</th>
                                    <th>Tên sản phẩm</th>
                                    <th>SKU</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Giảm giá</th>
                                    <th>Tổng cộng</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr class="first">
                                    <td colspan="6" class="a-right">Tổng chưa giảm</td>
                                    <td class="a-right"><span class="price">9.129.000,00&nbsp;₫</span></td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="a-right">Giảm giá </td>
                                    <td class="a-right"><span class="price">-275.000,00&nbsp;₫</span></td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="a-right">Chi phí vận chuyển</td>
                                    <td class="a-right"><span class="price">0,00&nbsp;₫</span></td>
                                </tr>
                                <tr>

                                    <td colspan="6" class="a-right">Tổng cộng</td>
                                    <td class="a-right"><span class="price">8.854.000,00&nbsp;₫</span></td>
                                </tr>
                            </tfoot>
                            <tbody class="odd">
                                <tr id="order-item-row-3093333" class="first">
                                    <td>1</td>
                                    <td style="width: 380px;">
                                        <h5 class="title">
                                            <a href="http://tiki.vn/may-anh-fujifilm-instax-25-trang-p80319.html?ref=c1815.c2055.c2144.c2296." target="_blank">Máy Ảnh Fujifilm Instax 25 - Trắng</a>
                                        </h5>
                                    </td>
                                    <td>6007361375260</td>
                                    <td>
                                        <span class="price">1.990.000,00&nbsp;₫</span>
                                        <br>
                                    </td>
                                    <td>
                                        <span>
                                            <strong>1</strong><br>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="price">0,00&nbsp;₫</span>
                                    </td>
                                    <td>
                                        <span class="price">1.990.000,00&nbsp;₫</span>
                                        <br>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="even">
                                <tr id="order-item-row-3093334">
                                    <td>2</td>
                                    <td>
                                        <h5 class="title">
                                            <a href="http://tiki.vn/hop-film-fujifilm-mini-10-tam-p80384.html?ref=c1815.c2144." target="_blank">Hộp Film Fujifilm Mini 10 Tấm</a>
                                        </h5>
                                        <dl>
                                            <dt>Free Gift</dt>
                                            <dd>
                                            </dd>
                                        </dl>
                                    </td>
                                    <td>5004444766688</td>
                                    <td>
                                        <span class="price">155.000,00&nbsp;₫</span>
                                        <br>
                                    </td>
                                    <td>
                                        <strong>1</strong><br>
                                    </td>
                                    <td>
                                        <span class="price">155.000,00&nbsp;₫</span>
                                    </td>
                                    <td>
                                        <span class="price">0,00&nbsp;₫</span>
                                        <br>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="odd">

                                <tr id="order-item-row-3093335">
                                    <td>3</td>
                                    <td>
                                        <h5 class="title">
                                            Túi Đựng Máy Ảnh Instax
                                        </h5>
                                        <dl>
                                            <dt>Free Gift</dt>
                                            <dd>
                                            </dd>
                                        </dl>
                                    </td>
                                    <td>2907916565358</td>
                                    <td>
                                        <span class="price">120.000,00&nbsp;₫</span>
                                        <br>
                                    </td>
                                    <td>
                                        <span>
                                            <strong>1</strong><br>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="price">120.000,00&nbsp;₫</span>
                                    </td>
                                    <td>
                                        <span class="price">0,00&nbsp;₫</span>
                                        <br>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody class="even">
                                <tr id="order-item-row-3093336">
                                    <td>4</td>
                                    <td>
                                        <h5 class="title">
                                            <a href="#" target="_blank">Sony Xperia M2 Aqua - 4.8 inch/ 4 nhân 1.2GHz/ 8GB/ 8.0MP/ 2300mAh</a>
                                        </h5>
                                        <dl>
                                            <dt>Màu</dt>
                                            <dd>
                                                Đen
                                            </dd>
                                        </dl>
                                    </td>
                                    <td>5808215150238</td>
                                    <td>
                                        <span class="price">6.790.000,00&nbsp;₫</span>
                                        <br>
                                    </td>
                                    <td>
                                        <span>
                                            <strong>1</strong><br>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="price">0,00&nbsp;₫</span>
                                    </td>
                                    <td>
                                        <span class="price">6.790.000,00&nbsp;₫</span>
                                        <br>
                                    </td>
                                    <!--
                                        <th class="nowrap a-right"><span class="price">6.790.000,00 ₫</span></th>
                                        -->
                                </tr>
                            </tbody>
                            <tbody class="odd">
                                <tr id="order-item-row-3093338">
                                    <td>5</td>
                                    <td>
                                        <h5 class="title">
                                            <a href="#" target="_blank">Combo Yêu Người Yêu Người Ta (Tái Bản 2014) - Tặng Kèm Phụ Bản Yêu Anh Hơn Người Anh Yêu</a>
                                        </h5>
                                    </td>
                                    <td>8936062803643</td>
                                    <td>
                                        <span class="price">74.000,00&nbsp;₫</span>
                                        <br>
                                    </td>
                                    <td>
                                        <span>
                                            <strong>1</strong><br>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="price">0,00&nbsp;₫</span>
                                    </td>
                                    <td>
                                        <span class="price">74.000,00&nbsp;₫</span>
                                        <br>
                                    </td>
                                    <!--
                                        <th class="nowrap a-right"><span class="price">74.000,00 ₫</span></th>
                                        -->
                                </tr>
                            </tbody>
                            <tbody class="even">

                                <tr id="order-item-row-3093339">
                                    <td>6</td>
                                    <td>
                                        <h5 class="title">
                                            Bộ Bookcard Tiki Xinh Xắn
                                        </h5>
                                        <dl>
                                            <dt>Free Gift</dt>
                                            <dd>
                                            </dd>
                                        </dl>
                                    </td>
                                    <td>3506105006222</td>
                                    <td>
                                        <span class="price">0,00&nbsp;₫</span>
                                        <br>
                                    </td>
                                    <td>
                                        <span>
                                            <strong>1</strong><br>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="price">0,00&nbsp;₫</span>
                                    </td>
                                    <td>
                                        <span class="price">0,00&nbsp;₫</span>
                                        <br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="button-set">
                            <a href="https://tiki.vn/sales/order/history/"><i class="fa fa-angle-double-left"></i> Quay về đơn hàng của tôi</a>
                        </div>
                    </div>
                </div>
                @*My Order*@
                <div id="notify" class="tab-pane fade my-order">
                    <div class="info-head-text">
                        <h3><i class="fa fa-info-circle"> </i> Bạn chưa có thông báo</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>