@using NB_Commerce.Helpers
@model NB_Commerce.Models.FeedBack
@{ Html.EnableClientValidation(); }

<style scoped>
    .add-feedback { width: 100%; }

    .add-feedback div { margin-bottom: 8px; }

    .add-feedback .submit-review-successful, .add-feedback .submit-review-error {
        border: 1px dotted;
        font-size: 14px;
        font-weight: bold;
        margin: -10px;
        margin-bottom: 20px;
        margin-top: 12px;
        padding: 12px;
        text-align: center;
    }

    .add-feedback .submit-review-successful {
        background-color: #0071C7;
        border-color: white;
        color: white;
    }

    .add-feedback .submit-review-error {
        background: yellow;
        color: #E25831;
    }

    .add-feedback .required:after {
        color: #E6674A;
        content: "*";
        display: inline;
        margin-left: 4px;
    }

    .add-feedback label { font-weight: normal; }

    .add-feedback input[type="text"], .add-feedback input[type="email"] { }

    .add-feedback textarea { }

    .add-feedback button.submit { }

    .add-feedback button.submit #add-feedback-loader {
        color: yellow;
        font-size: 10px;
    }
    

    .add-feedback .notes {
        color: rgb(165, 161, 161);
        font-size: 12px;
        margin-top: 12px;
    }

    .add-feedback .input-validation-error { background-color: rgb(245, 233, 233)!important; }

    .add-feedback .submit-feedback-successful, .add-feedback .submit-feedback-error, .add-feedback .submit-feedback-disabled {
        border: 1px dotted;
        left: 0px;
        padding: 4px;
        position: fixed;
        text-align: center;
        top: 0px;
        width: 100%;
        z-index: 9999;
    }

    .add-feedback .submit-feedback-successful {
        background-color: #0071C7;
    
        color: white;
    }

    .add-feedback .submit-feedback-error {
        background-color: yellow;
        color: red;
    }

    .add-feedback .submit-feedback-disabled {
        background: yellow;
        color: red;
    }

    .add-feedback .field-validation-error {
        background: url(https://www.google.com/help/hc/images/sites_icon_arrow_left_small.gif)!important;
        display: none;
        float: left;
        height: 10px;
        margin-left: 121px;
        margin-top: -60px;
        text-indent: -999px;
        width: 8px;
    }
</style>

<div id="add-feedback" class="add-feedback">
    @Html.Action("Feedback", "Widgets", new
                                            {
                                                type = Model.Type,
                                                annoFullName = String.Join("|", Model.AnnoFullName),
                                                annoEmail = String.Join("|", Model.AnnoEmail),
                                                annoPhone = String.Join("|", Model.AnnoPhone),
                                                annoMessage = (Model.AnnoMessage[0] + "|" + Model.AnnoMessage[1]),
                                                annoButton = (Model.AnnoButton[0] + "|" + Model.AnnoButton[1]), Model.CustomView, ViewBag.dataCustom,
                                                area = ""
                                            })
</div>

@using (Html.BeginScripts())
{
    <script>
        HvHelpers.loadJs("/Scripts/jquery.validate.js", $.validator, function () {
            HvHelpers.loadJs("/Scripts/jquery.validate.unobtrusive.js", $.unobtrusive, function () {
                HvHelpers.loadJs("/Scripts/jquery.unobtrusive-ajax.js", $.unobtrusiveAjax);
            });
        }, 'asyn');
    </script>
    <script>
        PagedFeedBackLoaded = function() {

            if ($(".field-validation-error").size() > 0) {
                $(":submit").closest("form").submit(function() {
                    $(':submit').attr('disabled', 'disabled');
                });
            }

            $(":submit").closest("form").submit(function() {
                var inputs = ["FullName", "Email", "Phone", "Message"];
                for (var i in inputs) {
                    (function(i) {
                        if ($(".field-validation-error[data-valmsg-for=" + inputs[i] + "]").children().length > 0) {
                            $("[name=" + inputs[i] + "]").parent().addClass("has-error");
                        } else $("[name=" + inputs[i] + "]").parent().removeClass("has-error");
                    })(i);
                }
            });

            if ($(".submit-feedback-successful").size() > 0) {
                $("[name=Message]").val("");
                setTimeout(function() { $(".submit-feedback-successful").hide(); }, 15200);
            }
        };
        $(document).ready(function() { PagedFeedBackLoaded(); });
    </script>
}