<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
   
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="NBContext_Brandviet" providerName="System.Data.SqlClient" connectionString="Data Source=103.48.81.21;Initial Catalog=uiiernfo_brandviet_db;Persist Security Info=True;User ID=uiiernfo_brandviet_usr;Password=Vxh8~c54" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="IncludeProperties" value="*" />
    <add key="IncludeProperties::Page" value="PageTemplate" />
    <add key="IncludeProperties::Category" value="CategoryParent,CategoryChildren, ProductCategoryMappings, ProductCategoryMappings.Product,ProductCategoryMappings.Product.Picture, CategoryTemplate" />
    <add key="IncludeProperties::Product" value="Picture" />
    <add key="IncludeProperties::ProductTag" value="ProductProductTagMappings,ProductProductTagMappings.Product" />
    <add key="IncludeProperties::Manufacturer" value="ProductManufacturerMappings,ProductManufacturerMappings.Product" />
    <add key="IncludeProperties::BlogCategory" value="ChildCategories,ChildCategories.BlogPostCategoryMappings,ChildCategories.BlogPostCategoryMappings.BlogPost,BlogPostCategoryMappings,BlogPostCategoryMappings.BlogPost, BlogPostCategoryMappings.BlogPost.BlogComments" />
    <add key="IncludeProperties::BlogTag" value="BlogPostTagMappings,BlogPostTagMappings.BlogPost,BlogPostTagMappings.BlogPost.BlogPostCategoryMappings, BlogPostTagMappings.BlogPost.BlogPostCategoryMappings.BlogCategory" />
    <add key="IncludeProperties::BlogPost" value="BlogPostCategoryMappings,BlogPostCategoryMappings.BlogCategory,BlogComments,BlogPostProductMappings,BlogPostProductMappings.Product,BlogPostProductMappings.Product.Picture,BlogPostTagMappings,BlogPostTagMappings.BlogTag" />
    <add key="BundlesReservedPathsCss" value="/content/plugins/back-to-top/css,/content/plugins/webslidemenu/css,/content/plugins/owlcarousel/css,/content/plugins/font-awesome/css,/content/default/home/css,/content/default/page/css,/content/default/page-detail/css,/content/default/account/css,/content/default/catalog/listting/css,/content/default/account/register/css,/content/default/blog/blog-category/css,/content/default/blog/blog-post/css,/content/default/catalog/category/css,/content/default/catalog/product/css,/content/default/blog/blog-category/css,/content/default/blog/blog-list/css,/content/default/blog/blog-tag/css,/content/default/search/css,/content/default/page/css" />
    <add key="BundlesReservedPathsJs" value="/content/plugins/back-to-top/js,/content/plugins/webslidemenu/js,/content/plugins/owlcarousel/js,/content/default/home/js/4-main,/content/default/catalog/listting/js,/content/default/catalog/product/js,/content/default/checkout/js,/content/default/blog/blog-category/js,/content/default/blog/blog-list/js,/content/default/catalog/category/js/default,/content/default/blog/blog-post/js" />
    <add key="Host" value="bkpost.brandviet.vn" />
    <add key="SiteStatus" value="debug" />
    <add key="CacheStatus" value="enabled" />
    <add key="ConnectStringDefault" value="NBContext_Brandviet" />
    <add key="ResourcesMedia" value="~" />
    <add key="DirsMedia" value="bkpost-brandviet/" />
    <add key="PageSizeDefault" value="6" />
    <add key="PageSizeSearch" value="5" />
    <add key="PageSizeBlogTag" value="3" />
    <add key="PageSizeManufacturer" value="5" />
    <add key="PageSizeProductTag" value="5" />
    <add key="StoreAvailable" value="1,2," />
    <add key="1-ApprovedReviewDefault" value="True" />
    <add key="1-CheckoutAsGuest" value="True" />
    <add key="1-Favicon" value="favico.ico" />
    <add key="1-GoogleAnalyticCode" value="&lt;script&gt;&#xD;&#xA;(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){&#xD;&#xA;(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),&#xD;&#xA;m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)&#xD;&#xA;})(window,document,'script','//www.google-analytics.com/analytics.js','ga');&#xD;&#xA;ga('create', 'UA-67213465-1', 'auto');&#xD;&#xA;ga('send', 'pageview');&#xD;&#xA;&lt;/script&gt;" />
    <add key="1-LanguageDefault" value="vi" />
    <add key="1-Logo" value="logo.jpg" />
    <add key="1-Maintenance" value="False" />
    <add key="1-MaxRate" value="5" />
    <add key="1-RegisterActiveDefault" value="True" />
    <add key="1-ShowProductPurchased" value="True" />
    <add key="1-ShowProductRating" value="True" />
    <add key="1-ShowSuggestSearch" value="True" />
    <add key="1-ShowViewed" value="True" />
    <add key="1-ShowZopim" value="True" />
    <add key="1-Skin" value="upload-new-skin" />
    <add key="1-Slogan" value="Gửi trọn niềm tin" />
    <add key="1-StoreLink" value="http://bkpost.brandviet.vn" />
    <add key="1-StoreName" value="bkpost.brandviet.vn" />
    <add key="1-ZopimCode" value="&lt;!--Start of Zopim Live Chat Script--&gt;&#xD;&#xA;&lt;script type=&quot;text/javascript&quot;&gt;&#xD;&#xA;window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=&#xD;&#xA;d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.&#xD;&#xA;_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute(&quot;charset&quot;,&quot;utf-8&quot;);&#xD;&#xA;$.src=&quot;//v2.zopim.com/?3RQZH37vwUNdgI4xQPNfjzA5nUIiABg4&quot;;z.t=+new Date;$.&#xD;&#xA;type=&quot;text/javascript&quot;;e.parentNode.insertBefore($,e)})(document,&quot;script&quot;);&#xD;&#xA;&lt;/script&gt;&#xD;&#xA;&lt;!--End of Zopim Live Chat Script--&gt;" />
    <add key="2-ApprovedReviewDefault" value="True" />
    <add key="2-CheckoutAsGuest" value="True" />
    <add key="2-LanguageDefault" value="vi" />
    <add key="2-Logo" value="logo.png" />
    <add key="2-Maintenance" value="False" />
    <add key="2-MaxRate" value="5" />
    <add key="2-RegisterActiveDefault" value="True" />
    <add key="2-ShowProductPurchased" value="True" />
    <add key="2-ShowProductRating" value="True" />
    <add key="2-ShowSuggestSearch" value="True" />
    <add key="2-ShowViewed" value="True" />
    <add key="2-ShowZopim" value="False" />
    <add key="2-Skin" value="upload-new-skin" />
    <add key="2-StoreLink" value="http://localhost:4102" />
    <add key="2-StoreName" value="Debug" />
    <add key="AutoClearCached" value="True" />
    <add key="bkpost.brandviet.vn" value="1" />
    <add key="LinksAdmin" value="http://admin.acafe.vn" />
    <add key="LinksApi" value="http://api.acafe.vn" />
    <add key="LinksMedia" value="http://media.acafe.vn" />
    <add key="localhost:2014" value="3" />
    <add key="localhost:4102" value="2" />
    <add key="www.bkpost.brandviet.vn" value="1" />
    <add key="www.localhost:4102" value="2" />
  </appSettings>
  <system.web>
    <trace enabled="false"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <customErrors mode="Off">
      <!--<error statusCode="404" redirect="/Home/NotFound" />-->
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
      <remove name="AnonymousIdentification"/>
      <remove name="Profile"/>
      <remove name="PassportAuthentication"/>
      <remove name="WindowsAuthentication"/>
      <add name="RemoveWhitespaceModule" type="WebOptimizer.Modules.RemoveWhitespaceModule"/>
      <!-- add this -->
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <directoryBrowse enabled="true"/>
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="text/plain"/>
      <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
    </staticContent>
	<httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
      <redirectHeaders>
        <clear/>
      </redirectHeaders>
    </httpProtocol>
    <httpCompression dynamicCompressionDisableCpuUsage="90" dynamicCompressionEnableCpuUsage="0">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="application/atom+xml" enabled="true"/>
        <add mimeType="application/rss+xml" enabled="true"/>
        <add mimeType="application/xaml+xml" enabled="true"/>
        <add mimeType="application/xml" enabled="true"/>
        <add mimeType="image/svg+xml" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="application/xml" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
    </httpCompression>
    <urlCompression doDynamicCompression="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>