@using NB_Commerce.Helpers
@using Resources
@model NB_Commerce.Model.Models.Survey
@if (Model.Id != 0) { 
    
    <section data-id="@Model.Id" data-name="survey" data-width="100%" style="  float: left;width:100%;min-height:120px; @ViewBag.CustomStyles">
        <script>
            (function (i, s, o, g, a, m) { a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 0; a.src = g; m.parentNode.insertBefore(a, m); })(window, document, "script", "/gadgets/survey/js/all.js");
        </script>
    </section>
}
@using (Html.BeginScripts())
{
    <script>
        Languages['Survey'] = {
            "Result": "Xem kết quả", "SubmitVote": "Biểu quyết",
            "EndDate": "Ngày kết thúc", "Title": "Kết quả biểu quyết", "Total": "Tổng cộng", "Vote": "phiếu bầu",
            "ValidChosen": "Bạn vui lòng chọn 1 trong các ý kiến trên!"
        };
    </script>
}
