.result-votes-wapper{width:98%}
.result-votes-wapper .result-vote{background:#ededed;display:block;margin-bottom:12px;overflow:hidden;padding:15px 20px}
.result-votes-wapper .list-votes{background:#f4f4f4;overflow:hidden}
.result-votes-wapper .complete-form{color:#000;display:block;font:500 14px arial;overflow:hidden;padding:20px;width:auto}
.result-votes-wapper .scroll-stats{float:left;margin:10px 4%;padding:0;width:92%}
.result-votes-wapper .scroll-stats li{border-bottom:1px dotted #ccc;display:block;margin:0 0 10px;overflow:hidden;padding:0 0 15px}
.result-votes-wapper .info-result{display:block}
.result-votes-wapper .rsv-left{color:#000;float:left;font:12px arial;margin:0 8px 0 0;width:20%}
.result-votes-wapper .rsv-right{color:#999;float:right;font:12px arial;margin-left:8px;text-align:right;width:20%}
.result-votes-wapper .rsv-right label{color:#000}
.result-votes-wapper .scroll-color{background:#ccc;float:left;height:5px;margin-top:3px;width:55%}
.result-votes-wapper .bg-center-scroll{background:#fb6f0c;float:left;height:5px;position:relative}
.result-votes-wapper .txt-number-result{bottom:-20px;color:#fb6f0c;display:inline-block;font:10px arial;padding:5px 0 0;position:absolute;right:-10px}
.result-votes-wapper .question-vote{font-size:13px;font-weight:700;margin:0 0 4px;padding-bottom:12px}
.result-votes-wapper .p-info-vote{margin:0}
.result-votes-wapper .time-vote{color:#666;float:left;font:400 11px arial}
.result-votes-wapper .total-vote{color:#666;float:right;font:400 11px arial}
.result-votes-wapper .total-vote label{color:#fb6f0c;font-weight:700}