@using NB_Commerce.Model.Models
@model List<Product>
@if(Model.Count > 0) {
    <section class="row p-viewed">
    <div class="container">
        <div class="col-xs-3"><h3>Sản phẩm đã xem : </h3></div>
        <div class="col-xs-9">
                <ul id="listViewed" class="content-slider-viewed">
                    @foreach (Product product in Model)
                    {
                        <li class="col-xs-3">
                            <a href="@Utils.GetUrlProduct( product.Id)">
                                <img src="@Utils.GetImage(product.Picture.Url, 52)" title="@product.Name" class="img-responsive" />
                            </a>
                        </li>
                    }
                </ul>
        </div>
    </div>
    </section><!--Product VIEWED-->
}
