<a class="dropdown-toggle" data-toggle="dropdown" href="#" rel="nofollow" title="extenal link website">Dân trí <b class="caret"> </b></a>

<ul class="dropdown-menu language">
	<li><a href="http://dantri.com.vn/" rel="nofollow" target="_blank" title="Báo Dân trí – Thông tin mọi lúc, mọi nơi tới mọi người, mọi nhà">Dân trí</a></li>
	<li><a href="http://fica.vn/" rel="nofollow" target="_blank" title="FICA - Cổng thông tin kinh tế - tài chính Việt Nam và thế giới">Fica</a></li>
	<li><a href="http://dantri.com.vn/" rel="nofollow" target="_blank" title="Khu công nghiệp phố nối A - Hòa phát">Phố Nối A</a></li>
</ul>

