<h1>© 2008 TỔNG CÔNG TY BƯU ĐIỆN VIỆT NAM - BƯU ĐIỆN TỈNH BẮC KAN</h1>

<p>Địa chỉ: Tổ 7 Phường Đức Xuân, TP Bắc Kạn, Tỉnh Bắc Kạn</p>

<p>Email: info@backan.vnpost.vn - Ghi rõ nguồn "backan.vnpost.vn" khi phát hành lại thông tin từ website này.</p>

