<ul class="nav navbar-nav pull-right social">
	<li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
	<li><a href="#" title="skype"><i class="fa fa-skype"></i></a></li>
	<li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
	<li><a href="#" title="google"><i class="fa fa-google-plus"></i></a></li>
	<li><a href="#" title="pinterest"><i class="fa fa-pinterest-p"></i></a></li>
</ul>

