<div class="hotline">
<h6>Hotline: <span>02813.811.911</span></h6>
</div>
<div class="link-directions">
<ul>
<li><a href="/sitemap.xml" target="_blank" title="site map"><i class="fa fa-sitemap"></i>Site map</a></li>
<li>@Html.Partial("_Language")</li>
<li><a href="#"><i class="fa fa-user"></i> Đăng nhập</a></li>
<li><a href="mailto:info@backan.vnpost.vn">Email: info@backan.vnpost.vn</a></li>
</ul>
</div>

