<div class="hotline"><a href="#"><img alt="Hotline Bưu điện tỉnh Bắc Kan" src="http://media.acafe.vn/images/brandviet/BkPost/hotline-1.jpg" /></a></div>

<div class="banner-adv"><a href="#"><img alt="Phát hành báo trí" src="http://media.acafe.vn/images/brandviet/BkPost/adv-news.jpg" /></a> <a href="#"><img alt="Gửi tiết kiệm bưu điện" src="http://media.acafe.vn/images/brandviet/BkPost/adv-saving.jpg" style="width: 270px; height: 100px;" /></a> <a href="#"><img alt="Chuyển phát nhanh EMS Bưu điện" src="http://media.acafe.vn/images/brandviet/BkPost/adv-ems.jpg" /></a></div>

<div class="hotline"><a href="#"><img alt="Đường dây nóng Bưu điện tỉnh Bắc Kan" src="http://media.acafe.vn/images/brandviet/BkPost/hotline-2.jpg" /></a></div>

