<section class="wrapper-box about-us" id="box-about-us">
<div class="container">
<div class="head-title">
<h3>Chúng tôi tạo nên sự khác biệt</h3>

<p class="description">Chúng tôi, Nextbrand Việt Nam, hiểu rõ tầm quan trọng của việc xây dựng một đội ngũ đoàn kết, đây cũng chính là tiêu chí hàng đầu mà Nextbrand Việt Nam luôn mong muốn đem đến cho khách hàng chất lượng tốt nhất.</p>
</div>

<div class="wrapper-content">
<ul class="row">
	<li class="col-xs-6 col-md-3">
	<div class="icon"><i class="fa fa-briefcase"></i></div>

	<div class="step-content"><span>Giải pháp tối ưu</span>

	<p>Giải pháp sáng tạo - thấu hiểu nhu cầu</p>
	</div>
	</li>
	<li class="col-xs-6 col-md-3">
	<div class="icon"><i class="fa fa-life-ring"></i></div>

	<div class="step-content"><span>Hỗ trợ liên tục</span>

	<p>Luôn lắng nghe - giải đáp nhu cầu</p>
	</div>
	</li>
	<li class="col-xs-6 col-md-3">
	<div class="icon"><i class="fa fa-thumbs-up"></i></div>

	<div class="step-content"><span>Chất lượng đảm bảo</span>

	<p>Hình ảnh tinh tế - công nghệ sáng tạo</p>
	</div>
	</li>
	<li class="col-xs-6 col-md-3">
	<div class="icon"><i class="fa fa-laptop"></i></div>

	<div class="step-content"><span>Sản phẩm đa dạng</span>

	<p>Nhiều vị trí và hình thức hiệu quả</p>
	</div>
	</li>
</ul>
</div>
</div>
</section>

