<h3 class="popover-title">Quảng cáo tạp chí hàng không của VietJetAir</h3>

<div class="popover-content"><img alt="One2fly of vietjetair" src="http://media.nextbrand.com.vn/images/default/MegaMenu/162_1419841005_1.png" style="height: 242px;margin-left: 80px;" /></div>

