<nav class="scroll-home" id="myScrollspy">
<ul class="nav" data-offset-top="500" data-spy="affix">
	<li class="active"><a href="#top"><i class="fa fa-home"></i></a></li>
	<li><a href="#box-about-us"><i class="fa fa-users"></i></a></li>
	<li><a href="#box-service"><i class="fa fa-cogs"></i></a></li>
	<li><a href="#box-show-case"><i class="fa fa-pie-chart"></i></a></li>
	<li><a href="#box-news"><i class="fa fa-newspaper-o"></i></a></li>
	<li><a href="#box-customers"><i class="fa fa-user-plus"></i></a></li>
	<li><a href="#box-testimonials"><i class="fa fa-comment"></i></a></li>
	<li><a href="#box-contact-us"><i class="fa fa-info-circle"></i></a></li>
</ul>
</nav>

