@Styles.RenderFormat(BundlesFormats.SCREEN,"~/bundles/content/plugins/back-to-top/css") <a class="cd-top hidden-xs cd-is-visible" href="#" style="background:none!important;color:transparent"> ToTop <img alt="" src="http://media.acafe.vn/images/brandviet/BkPost/back-top-top.jpg" style="width: 45px; height: 45px;" /> </a> @Scripts.Render("~/bundles/content/plugins/back-to-top/js")
