<section class="wrapper-box show-case" id="box-show-case">
<div class="container">
<div class="head-title">
<h3>Show case</h3>
</div>

<div class="wrapper-content"><!-- start: BOX OUR GALLERY -->
<div class="box-our-gallery"><!-- start: PRIMARY -->
<nav class="primary clearfix">
<ul>
	<li><a class="selected" data-filter="*" href="#">Quảng cáo Sân bay</a></li>
	<li><a data-filter=".noi-bai" href="#">Nội Bài</a></li>
	<li><a data-filter=".da-nang" href="#">Đà Nẵng</a></li>
	<li><a data-filter=".tan-son-nhat" href="#">Tân Sơn Nhất</a></li>
	<li><a data-filter=".nha-trang" href="#">Nha Trang</a></li>
	<li><a data-filter=".can-tho" href="#">Cần Thơ</a></li>
</ul>
</nav>
<!-- end: PRIMARY --><!-- start: BLUEIMP-GALLERY -->

<div class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false" id="blueimp-gallery"><!-- The container for the modal slides -->
<div class="slides"> </div>
<!-- Controls for the borderless lightbox -->

<h3 class="title">Quảng cáo sân bay</h3>
<!-- The placeholder for the description label: -->

<p class="description"> </p>
<a class="prev">‹</a> <a class="next">›</a> <a class="close">×</a> 

<ol class="indicator">
</ol>
<!-- The modal dialog, which will be used to wrap the lightbox content -->

<div class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header"><button aria-hidden="true" class="close" type="button">×</button>

<h4 class="modal-title">Quảng cáo sân bay</h4>
</div>
</div>

<div class="modal-body next"> </div>

<div class="modal-footer"><button class="btn btn-default pull-left prev" type="button"><i class="glyphicon glyphicon-chevron-left"></i>Previous</button><button class="btn btn-warning next" type="button">Next <i class="glyphicon glyphicon-chevron-right"></i></button></div>
</div>
</div>
</div>
<!-- end: BLUEIMP-GALLERY --><!-- start: GALLERY PORTFOLIO -->

<div class="row gallery portfolio" id="modalGallery">
<article class="col-xmb-12 col-xs-6 col-md-4 entry noi-bai">
<div class="item-inner"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="noi-bai" href="img/demo/show-case2.jpg" title="Quảng cáo sân bay Nội Bài"><img alt="This is a pretty long title" src="img/demo/show-case1.jpg" /> </a> <!-- start: figcaption -->

<div class="figcaption transition-delay"><!-- start: content showcase -->
<div class="caption-block transition-delay">
<div class="actions"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="noi-bai" href="img/demo/show-case2.jpg" title="Quảng cáo sân bay Nội Bài"><i class="fa fa-expand"></i></a> <a href="http://google.com.vn"><i class="fa fa-link"></i></a></div>

<h3><a href="#">QUẢNG CÁO SÂN BAY TÂN SƠN NHẤT</a></h3>

<p class="des">Cơ hội tiếp cận hơn 13 triệu khách hàng, chúng tôi tự hào là nơi kết nối thương hiệu của bạn.</p>
</div>
<!-- end: content showcase --></div>
<!-- end: figcaption --></div>
</article>

<article class="col-xmb-12 col-xs-6 col-md-4 entry da-nang ">
<div class="item-inner"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="noi-bai" href="img/demo/show-case2.jpg" title="Quảng cáo sân bay Nội Bài"><img alt="This is a pretty long title" src="img/demo/show-case2.jpg" /></a> <!-- start: figcaption -->

<div class="figcaption transition-delay"><!-- start: content showcase -->
<div class="caption-block transition-delay">
<div class="actions"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="noi-bai" href="img/demo/show-case2.jpg" title="Quảng cáo sân bay Nội Bài"><i class="fa fa-expand"></i></a> <a href="http://google.com.vn"><i class="fa fa-link"></i></a></div>

<h3><a href="#">QUẢNG CÁO SÂN BAY TÂN SƠN NHẤT</a></h3>

<p class="des">Cơ hội tiếp cận hơn 13 triệu khách hàng, chúng tôi tự hào là nơi kết nối thương hiệu của bạn.</p>
</div>
<!-- end: content showcase --></div>
<!-- end: figcaption --></div>
</article>

<article class="col-xmb-12 col-xs-6 col-md-4 entry noi-bai">
<div class="item-inner"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="noi-bai" href="img/demo/show-case3.jpg" title="Quảng cáo sân bay Nội Bài"><img alt="This is a pretty long title" src="img/demo/show-case3.jpg" /> </a> <!-- start: figcaption -->

<div class="figcaption transition-delay"><!-- start: content showcase -->
<div class="caption-block transition-delay">
<div class="actions"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="noi-bai" href="img/demo/show-case3.jpg" title="Quảng cáo sân bay Nội Bài"><i class="fa fa-expand"></i></a> <a href="http://google.com.vn"><i class="fa fa-link"></i></a></div>

<h3><a href="#">QUẢNG CÁO SÂN BAY TÂN SƠN NHẤT</a></h3>

<p class="des">Cơ hội tiếp cận hơn 13 triệu khách hàng, chúng tôi tự hào là nơi kết nối thương hiệu của bạn.</p>
</div>
<!-- end: content showcase --></div>
<!-- end: figcaption --></div>
</article>

<article class="col-xmb-12 col-xs-6 col-md-4 entry tan-son-nhat">
<div class="item-inner"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="tan-son-nhat" href="img/demo/show-case4.jpg"><img alt="" src="img/demo/show-case4.jpg" /> </a> <!-- start: figcaption -->

<div class="figcaption transition-delay"><!-- start: content showcase -->
<div class="caption-block transition-delay">
<div class="actions"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="tan-son-nhat" href="img/demo/show-case4.jpg"><i class="fa fa-expand"></i></a> <a href="http://google.com.vn"><i class="fa fa-link"></i></a></div>

<h3><a href="#">QUẢNG CÁO SÂN BAY TÂN SƠN NHẤT</a></h3>

<p class="des">Cơ hội tiếp cận hơn 13 triệu khách hàng, chúng tôi tự hào là nơi kết nối thương hiệu của bạn.</p>
</div>
<!-- end: content showcase --></div>
<!-- end: figcaption --></div>
</article>

<article class="col-xmb-12 col-xs-6 col-md-4 entry noi-bai tan-son-nhat">
<div class="item-inner"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="noi-bai" href="img/demo/show-case5.jpg"><img alt="" src="img/demo/show-case5.jpg" /> </a> <!-- start: figcaption -->

<div class="figcaption transition-delay"><!-- start: content showcase -->
<div class="caption-block transition-delay">
<div class="actions"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="noi-bai" href="img/demo/show-case5.jpg"><i class="fa fa-expand"></i></a> <a href="http://google.com.vn"><i class="fa fa-link"></i></a></div>

<h3><a href="#">QUẢNG CÁO SÂN BAY TÂN SƠN NHẤT</a></h3>

<p class="des">Cơ hội tiếp cận hơn 13 triệu khách hàng, chúng tôi tự hào là nơi kết nối thương hiệu của bạn.</p>
</div>
<!-- end: content showcase --></div>
<!-- end: figcaption --></div>
</article>

<article class="col-xmb-12 col-xs-6 col-md-4 entry da-nang tan-son-nhat">
<div class="item-inner"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="da-nang" href="img/demo/show-case6.jpg"><img alt="" src="img/demo/show-case6.jpg" /> </a> <!-- start: figcaption -->

<div class="figcaption transition-delay"><!-- start: content showcase -->
<div class="caption-block transition-delay">
<div class="actions"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="da-nang" href="img/demo/show-case6.jpg"><i class="fa fa-expand"></i></a> <a href="http://google.com.vn"><i class="fa fa-link"></i></a></div>

<h3><a href="#">QUẢNG CÁO SÂN BAY TÂN SƠN NHẤT</a></h3>

<p class="des">Cơ hội tiếp cận hơn 13 triệu khách hàng, chúng tôi tự hào là nơi kết nối thương hiệu của bạn.</p>
</div>
<!-- end: content showcase --></div>
<!-- end: figcaption --></div>
</article>

<article class="col-xmb-12 col-xs-6 col-md-4 entry noi-bai da-nang tan-son-nhat">
<div class="item-inner"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="da-nang" href="img/demo/show-case2.jpg"><img alt="" src="img/demo/show-case2.jpg" /> </a> <!-- start: figcaption -->

<div class="figcaption transition-delay"><!-- start: content showcase -->
<div class="caption-block transition-delay">
<div class="actions"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="da-nang" href="img/demo/show-case2.jpg"><i class="fa fa-expand"></i></a> <a href="http://google.com.vn"><i class="fa fa-link"></i></a></div>

<h3><a href="#">QUẢNG CÁO SÂN BAY TÂN SƠN NHẤT</a></h3>

<p class="des">Cơ hội tiếp cận hơn 13 triệu khách hàng, chúng tôi tự hào là nơi kết nối thương hiệu của bạn.</p>
</div>
<!-- end: content showcase --></div>
<!-- end: figcaption --></div>
</article>

<article class="col-xmb-12 col-xs-6 col-md-4 entry noi-bai nha-trang">
<div class="item-inner"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="nha-trang" href="img/demo/show-case5.jpg"><img alt="" src="img/demo/show-case5.jpg" /> </a> <!-- start: figcaption -->

<div class="figcaption transition-delay"><!-- start: content showcase -->
<div class="caption-block transition-delay">
<div class="actions"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="nha-trang" href="img/demo/show-case5.jpg"><i class="fa fa-expand"></i></a> <a href="http://google.com.vn"><i class="fa fa-link"></i></a></div>

<h3><a href="#">QUẢNG CÁO SÂN BAY TÂN SƠN NHẤT</a></h3>

<p class="des">Cơ hội tiếp cận hơn 13 triệu khách hàng, chúng tôi tự hào là nơi kết nối thương hiệu của bạn.</p>
</div>
<!-- end: content showcase --></div>
<!-- end: figcaption --></div>
</article>

<article class="col-xmb-12 col-xs-6 col-md-4 entry nha-trang tan-son-nhat">
<div class="item-inner"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="nha-trang tan-son-nhat" href="img/demo/show-case3.jpg"><img alt="" src="img/demo/show-case3.jpg" /> </a> <!-- start: figcaption -->

<div class="figcaption transition-delay"><!-- start: content showcase -->
<div class="caption-block transition-delay">
<div class="actions"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="nha-trang tan-son-nhat" href="img/demo/show-case3.jpg"><i class="fa fa-expand"></i></a> <a href="http://google.com.vn"><i class="fa fa-link"></i></a></div>

<h3><a href="#">QUẢNG CÁO SÂN BAY TÂN SƠN NHẤT</a></h3>

<p class="des">Cơ hội tiếp cận hơn 13 triệu khách hàng, chúng tôi tự hào là nơi kết nối thương hiệu của bạn.</p>
</div>
<!-- end: content showcase --></div>
<!-- end: figcaption --></div>
</article>

<article class="col-xmb-12 col-xs-6 col-md-4 entry can-tho tan-son-nhat">
<div class="item-inner"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="can-tho" href="img/demo/show-case1.jpg"><img alt="" src="img/demo/show-case1.jpg" /> </a> <!-- start: figcaption -->

<div class="figcaption transition-delay"><!-- start: content showcase -->
<div class="caption-block transition-delay">
<div class="actions"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="can-tho" href="img/demo/show-case1.jpg"><i class="fa fa-expand"></i></a> <a href="http://google.com.vn"><i class="fa fa-link"></i></a></div>

<h3><a href="#">QUẢNG CÁO SÂN BAY TÂN SƠN NHẤT</a></h3>

<p class="des">Cơ hội tiếp cận hơn 13 triệu khách hàng, chúng tôi tự hào là nơi kết nối thương hiệu của bạn.</p>
</div>
<!-- end: content showcase --></div>
<!-- end: figcaption --></div>
</article>

<article class="col-xmb-12 col-xs-6 col-md-4 entry noi-bai da-nang can-tho">
<div class="item-inner"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="noi-bai da-nang can-tho" href="img/demo/show-case3.jpg"><img alt="" src="img/demo/show-case3.jpg" /> </a> <!-- start: figcaption -->

<div class="figcaption transition-delay"><!-- start: content showcase -->
<div class="caption-block transition-delay">
<div class="actions"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="noi-bai da-nang can-tho" href="img/demo/show-case3.jpg"><i class="fa fa-expand"></i></a> <a href="http://google.com.vn"><i class="fa fa-link"></i></a></div>

<h3><a href="#">QUẢNG CÁO SÂN BAY TÂN SƠN NHẤT</a></h3>

<p class="des">Cơ hội tiếp cận hơn 13 triệu khách hàng, chúng tôi tự hào là nơi kết nối thương hiệu của bạn.</p>
</div>
<!-- end: content showcase --></div>
<!-- end: figcaption --></div>
</article>

<article class="col-xmb-12 col-xs-6 col-md-4 entry noi-bai nha-trang">
<div class="item-inner"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="noi-bai nha-trang" href="img/demo/show-case2.jpg"><img alt="" src="img/demo/show-case2.jpg" /> </a> <!-- start: figcaption -->

<div class="figcaption transition-delay"><!-- start: content showcase -->
<div class="caption-block transition-delay">
<div class="actions"><a data-description="Sân bay lớn nhất miền Bắc" data-gallery="noi-bai nha-trang" href="img/demo/show-case2.jpg"><i class="fa fa-expand"></i></a> <a href="http://google.com.vn"><i class="fa fa-link"></i></a></div>

<h3><a href="#">QUẢNG CÁO SÂN BAY TÂN SƠN NHẤT</a></h3>

<p class="des">Cơ hội tiếp cận hơn 13 triệu khách hàng, chúng tôi tự hào là nơi kết nối thương hiệu của bạn.</p>
</div>
<!-- end: content showcase --></div>
<!-- end: figcaption --></div>
</article>
<button class="add-items" id="add"><i class="fa fa-plus"></i></button></div>
<!-- end: GALLERY PORTFOLIO --></div>
<!-- end: BOX OUR GALLERY --></div>
</div>
</section>

