@using NB_Commerce.Helpers
<style>
    .list-our-staff {
    
    }
</style>
<aside>
    <span id="list-our-staff-loader" style="display: none;width: 100%;text-align: center;position: absolute;margin-top: 5px;font-style: italic;"> Đang tải... </span>
    <div  id="list-our-staff">
        @Html.Action("ListOurStaffs", "Widgets", new {ViewBag.orderBy, ViewBag.pageSize, area = ""})
    </div>
</aside>
@using (Html.BeginScripts())
{
    <script>
        HvHelpers.loadJs("/Scripts/jquery.validate.js", $.validator, function () {
            HvHelpers.loadJs("/Scripts/jquery.validate.unobtrusive.js", $.unobtrusive, function () {
                HvHelpers.loadJs("/Scripts/jquery.unobtrusive-ajax.js", $.unobtrusiveAjax);
            });
        }, 'asyn');
    </script>
    <script src="~/Scripts/jquery.timeago.js"> </script>
    <script>
        var changeUrl = function (filterby, page) {
            var query = "";
            if (filterby.indexOf("-") == -1 && page == 1) query = "";
            else if (filterby.indexOf("-") == -1) query = "?page=" + page + "";
            else query = "?filterby=" + filterby + "&page=" + page + "";
            // updated:
            if (query == "") history.pushState(null, null, location.pathname);
            else
                history.pushState(null, null, query);
        };
        PagedOnComplete_List = function() {
            Register();
            ToIndicate();
        };
        Register = function() {
            
            $(".time").timeago();
            $(".list-our-staff-inner").removeClass("hidden");
            changeUrl("",  $("#page-our-staff").val());
        };
        ToIndicate = function() {
            HvHelpers.scrollTo($('#list-our-staff'), 40);
        };
        $(document).ready(function() { Register(); });
    </script>
}