@using NB_Commerce.Helpers
<!-- Iterate over view_mode.products (Observable Array) -->
<div id="cart-popup" class="modal cart-popup" style="overflow: hidden" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-lg vertical-align-center">
            <div class="modal-content fade-in">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" title="Đóng"><span aria-hidden="true" class="fa fa-close" style="color: #fff; font-size: 12px;text-shadow:none;"></span><span class="sr-only">Đóng</span></button>
                    <h4 class="modal-title cart-bind-able">
                        <i class="fa fa-shopping-cart"></i>Giỏ hàng của tôi<span>(Đang có <b data-bind="text:quantity()"></b> sản phẩm)</span>
                        <em data-bind="visible: $root.discountId() != 0" class="tm-promo-type "><s></s><i class="glyphicon glyphicon-hand-right" style="margin-right: 3px;"></i>  Bạn sẽ nhận được mã giảm giá khi thanh toán đơn hàng thành công !</em>
                    </h4>
                </div>
                <div id="info-shop-cart" class="modal-body modal-content-inner cart-bind-able" style="height: 282px; overflow-y:auto;" data-bind='visible: quantity() != 0'>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th class="text-right">Giá</th>
                                    <th class="text-right">Tiết kiệm</th>
                                    <th class="text-center">Số lượng</th>
                                    <th class="text-right">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:cart">
                                <tr>
                                    <td>
                                        <img width="100" src="#" data-bind="attr:{ src: $data.product().avatar }" />
                                        <strong data-bind="text:$data.product().name"></strong>
                                        <p class="option-display" data-bind="html: $data.product().optionDisplay"> </p>
                                    </td>
                                    <td style="text-align: right;padding-right: 12px;">
                                        <span data-bind="text: $data.product().price().formatMoney()"></span>

                                    </td>
                                    <td style="text-align: right;padding-right: 12px;">

                                        <span data-bind="text:$data.saving().formatMoney()"></span>
                                    </td>
                                    <td>
                                        <input data-bind="value:$data.quantity" />

                                    </td>
                                    <td style="text-align: right;padding-right: 12px;">
                                        <span data-bind="text: $data.cost().formatMoney()"></span>
                                        <a href="#" title="Xóa khỏi giỏ hàng" data-bind="click: $parent.removeFromCart">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                 <div class="modal-footer cart-bind-able modal-content-inner" data-bind='css: { "cart-empty": quantity() <= 0 }'>
                        <div class="row modal-content-inner" data-bind='visible: quantity() != 0'>
                            <div class="pull-left" style="margin-top: 20px;" data-bind="visible: $root.cuponApplied() == false">
                                <input type="text" class="input" data-bind="value: $root.cupon" placeholder="Nhập mã giảm giá nếu có">
                                <button class="submit ripple-effect excerpt-over" type="button" data-bind="click: $root.appliedCupon"><s></s>Áp dụng</button>
                            </div>
                            <div class="pull-right">
                                <ul>
                                    <li>
                                        <strong>Tổng chưa giảm: </strong> <!-- [ViewModel] view_model.cost (Computed Observable) -->
                                        <span data-bind="text: subtotal().formatMoney()"> </span>
                                    </li>
                                    <li data-bind="visible: $root.cuponApplied() == true">
                                        <strong>Mã khuyến mại <span class="cupon-code" data-bind="text: $root.cupon"> </span> <i class="fa fa-times-circle-o remove-coupon" data-bind="    click: $root.removeCupon" title="Gỡ bỏ mã giảm giá"></i> : </strong> <!-- [ViewModel] view_model.cupon (Observable) -->
                                        <span data-bind="text: discount().formatMoney()"> </span>

                                    </li>
                                    <li>
                                        <strong>Phí vận chuyển: </strong> <!-- [ViewModel] view_model.cost (Observable) -->
                                        <span data-bind="text: shipping_cost().formatMoney()"> </span>
                                    </li>
                                    <li>
                                        <strong>THÀNH TIỀN: </strong><!-- [ViewModel] view_model.cost (Computed Observable) -->
                                        <strong style="color: #c00; font-size: 16px"><span data-bind="text: total().formatMoney()"></span></strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="action">
                            <button type="button" id="next" class="pull-left btn-link" style="margin-top: 5px;" data-dismiss="modal" title="continous..."><i class="fa fa-angle-double-right"></i> Tiếp tục mua hàng</button>
                            <a data-bind="visible: $root.quantity() > 0" href="@Url.Action("Index","Checkout")" id="checkout" class="pull-right btn ripple-effect" style="background: #000; font-weight: bold;color: white"><i class="fa fa-shopping-cart fa-lg" style="color: #fefefe"></i> ĐẶT HÀNG</a>
                        </p>
                    </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    </div><!-- /.modal -->