<div class="item-inner box-info">
<ul>
	<li>
	<div class="bx-icon"><i class="fa fa-home"></i></div>

	<div class="bx-des"><span>Địa Chỉ</span>

	<p>Hoàng Mai - Hà Nội</p>
	</div>
	</li>
	<li>
	<div class="bx-icon"><i class="fa fa-envelope"></i></div>

	<div class="bx-des"><span>Email</span>

	<p>info@nextbrand.com.vn</p>
	</div>
	</li>
	<li>
	<div class="bx-icon"><i class="fa fa-phone"></i></div>

	<div class="bx-des"><span>Điện Thoại</span>

	<p>04.3628.5619</p>
	</div>
	</li>
	<li>
	<div class="bx-icon"><i class="fa fa-globe"></i></div>

	<div class="bx-des"><span>Website</span>

	<p>nextbrand.com.vn</p>
	</div>
	</li>
	<li>
	<div class="bx-icon"><i class="fa fa-fax"></i></div>

	<div class="bx-des"><span>Fax</span>

	<p>04.3628.5624</p>
	</div>
	</li>
</ul>
</div>

