<h3 class="popover-title">Quảng cáo trên máy bay</h3>

<div class="popover-content" style="text-align: center;"><img alt="" src="http://media.nextbrand.com.vn/images/default/HTB1MaVVFVXXXXacXpXXq6xXFXXXC%20-%20Copy(5).jpg" style="width: 426px; height: 236px;" /></div>

