<section class="banner-adv"><a href="#"><img alt="quảng cáo" src="http://nextbrand.com.vn/v2/img/bg-adv.jpg" /></a>

<div class="container">
<div class="adv-info valign-wrapper">
<div class="content valign center">
<h5>Digital <span>Marketing</span></h5>

<p class="des">Chúng tôi, NextBrand teambuilding hiểu rõ tầm việc xây dựng một đội ngũ đoàn kết.</p>
</div>
</div>
</div>
</section>

