<div class="customers-wrap"><!-- start: block-title -->
<div class="block-title">
<h3 class="heading"><a href="#">Khách hàng - Đối tác</a></h3>
</div>
<!-- end: block-title --><!-- start: block-content -->

<div class="box-content"><!-- start: customers-slider -->
<div class="owl-carousel customers-slider" id="customers-slider"><!-- start: item -->@{ Html.RenderAction("Album", "Widgets", new { identifier = "clients-partners", pathView = "Album/ClientsPartners", area = "" }); } <!-- end: item --></div>
<!-- end: customers-slider --></div>
<!-- end: block-content --></div>
<!-- end: customers-wrap -->
