<div class="dropdown-menu megamenu-wrapper">
<div class="row">
<div class="col-xs-12 col-sm-3">
<ul class="list-link-service">
	<li><a href="#">Quảng cáo sân bay <i class="fa fa-caret-right"></i></a></li>
	<li><a href="#">Marketing online <i class="fa fa-caret-right"></i></a></li>
	<li><a href="#">Thiết kế website</a></li>
	<li><a href="#">Bảo trợ truyền thông <i class="fa fa-caret-right"></i></a></li>
	<li><a href="#">Thiết kế website</a></li>
</ul>
</div>

<div class="col-xs-9 visible-md visible-lg"><!-- start: service mega info  -->
<div class="row">
<div class="service-mega-info">
<div class="col-xs-4"><!-- start: item inner  -->
<div class="item-inner">
<div class="box-images"><a href="#"><img src="img/demo/service-mega1.jpg" /></a></div>

<div class="title">
<h3><a href="#">Quảng cáo sân bay Nội Bài</a></h3>

<p>Sân bay hiện đại bậc nhất khu vực...</p>
</div>
</div>
<!-- end: item inner  --></div>

<div class="col-md-4"><!-- start: item inner  -->
<div class="item-inner">
<div class="box-images"><a href="#"><img src="img/demo/service-mega2.jpg" /></a></div>

<div class="title">
<h3><a href="#">Quảng cáo sân bay Tân Sơn Nhất</a></h3>

<p>Sân bay hiện đại bậc nhất khu vực...</p>
</div>
</div>
<!-- end: item inner  --></div>

<div class="col-md-4"><!-- start: item inner  -->
<div class="item-inner">
<div class="box-images"><a href="#"><img src="img/demo/service-mega3.jpg" /></a></div>

<div class="title">
<h3><a href="#">Quảng cáo sân bay Đà Nẵng</a></h3>

<p>Sân bay hiện đại bậc nhất khu vực...</p>
</div>
</div>
<!-- end: item inner  --></div>
</div>
</div>
<!-- end: service mega info  --></div>
</div>
</div>

