@model List<NB_Commerce.Model.Models.BlogPostTagMapping>
@if(Model.Any()) {
    <ul>
        @foreach(var item in Model) {
            <li class="item">
                <a href="@Utils.GetUrlBlogTag(item.BlogTagId)" title="@item.BlogTag.Name" >@item.BlogTag.Name</a>
            </li>
        }
    </ul>
}