@using NB_Commerce.Model.Models
@model List<NB_Commerce.Model.Models.BlogPostCategoryMapping>
@if (Model.Count > 0)
{
<div class="owl-carousel news-promotion" id="news-promotion">
        @{
            var items = Model.OrderByDescending(e => e.BlogCategory.Id == 10).ToList();
}
        @for (int i = 0; i <= items.Count - 1; i++)
        {
            <div class="item"><a href="@Utils.GetUrlBlogPost(items[i].BlogPostId)" title="@items[i].BlogPost.Title">@items[i].BlogPost.Title</a></div>
        }
    </div>
}